* {box-sizing: border-box;}

body, header, main, footer, section, nav, article, h1, h2, h3, h4, h5, h6, div, p, span, a, ul, li, address, img {
  margin: 0;
  padding: 0;
  border: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.blind {
  display: none;
}

img {
  vertical-align: middle;
}